/* 全体 */
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #68a4d9;
}

#home {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
}


.homeDisplay {
  width: 100%;
  display: flex;
}


/* ヘッダー */
header {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  height: 50px;
  background-color: lightcyan;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* サイドバー */
#sideBar {
  position: fixed;
  width: 15%;
  height: 100%;
  background-color: gray;
}


/* タイムライン */
#display {
  width: 50%;
  height: 100%;
  padding-top: 50px;
  margin-left: 15%;
  background-color: #68a4d9;
  border-right: 1px solid gray;
}

#display .item {
  display: flex;
  width: 100%;
  padding: 10px;
  border-bottom: .5px solid gray; 
}

#display .item .sentence {
  margin-left: 8px;
}

#display .item .who {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#display .item .username {
  color: white;
  font-weight: bold;
}

#display .item .tweetTime {
  font-size: small;
  color: rgb(87, 86, 86);
}

#display .item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid white;
}


/* 掲示板 */
#bbs {
  width: 35%;
  height: 100%;
  padding-top: 50px;
  background-color: #68a4d9;
}


/* ツイート画面表示ボタン */
#formBtn {
  position: absolute;
  bottom: 20px;
  right: 38%;
}

#formBtn button {
  color: white;
  background-color: rgb(122, 122, 243);
  border-radius: 50%;
  box-shadow: 0 0 10px gray;
  width: 30px;
  height: 30px;
  text-align: center;
  transition: .3s;
}
#formBtn button:hover {
  opacity: .7;
  transition: .3s;
}
#formBtn button:active {
  box-shadow: none;
  transition: .3s;
}


/* ツイート画面 */
#tweet {
  display: none;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 500px;
  height: 500px;
  background-color: white;
}

#tweet form {
  width: 500px;
  height: 500px;
  border: 1px solid gray;
  position: relative;
}

#tweet form p {
  position: absolute;
  top: 12.5px;
  left: 12.5px;
  border: 1px solid gray;
  width: 100px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

#tweet form textarea {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 400px;
  height: 400px;
  padding: 15px;
  background-color: beige;
}

#tweet form button {
  position: absolute;
  top: 12.5px;
  right: 12.5px;
  border: 1px solid gray;
  width: 100px;
  line-height: 25px;
  text-align: center;
}