#display {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  /* margin-left: 15%; */
  background-color: #68a4d9;
  border-right: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#display .item {
  display: flex;
  justify-content: left;
  width: 80%;
  padding: 10px;
  border-bottom: .5px solid gray;
}

#display .item .sentence {
  width: 100%;
  margin-left: 8px;
}

#display .item .who {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#display .item .username {
  color: white;
  font-weight: bold;
}

#display .item .tweetTime {
  font-size: small;
  color: rgb(87, 86, 86);
}

#display .item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid white;
  background-color: white;
}

#display .item a {
  background-color: rgb(32, 176, 224);
  color: white;
  padding: 3px;
  border-radius: 4px;
  box-shadow: 0 3px gray;
  display: inline-block;
  margin-left: 80%;
}

/* 返信部分 */
#replyTweet {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  /* margin-left: 15%; */
  background-color: #68a4d9;
  border-right: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#replyTweet .item {
  display: flex;
  justify-content: left;
  width: 80%;
  padding: 10px;
  border-bottom: .5px solid gray;
}

#replyTweet .item .sentence {
  width: 100%;
  margin-left: 8px;
}

#replyTweet .item .who {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#replyTweet .item .username {
  color: white;
  font-weight: bold;
}

#replyTweet .item .tweetTime {
  font-size: small;
  color: rgb(87, 86, 86);
}

#replyTweet .item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid white;
  background-color: white;
}